$gray: #606060;
$gray-dark: #303030;
$gray-light: #909090;
$white: #fff;
$green: #009681;
$green-light: #e0f2f0;
$gray-e8: #e8e8e8;
$gray-e6: #e6e6e6;
$gray-d7: #d7d7d7;
$gray-d8: #d8d8d8;
$red: #d8232a;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
